<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>User Dashboard</h1>
      <hr>
      <p>First Name: <%= user.firstName %></p>
      <p>Last Name: <%= user.lastName %></p>
      <p>Email: <%= user.email %></p>
      <p>Birthday: <%= user.birthday %></p>
    </div>
  </body>
</html>
