<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>Registration Page</h1>
      <a href="/">Home</a>
    </div>
  </body>
</html>
